{{ attach_library('pattrenlab/links')}}

<div class="service-card {{ modifier }}">
  {% include "@atoms/image/image.twig" with {
    "source": imgSrc,
    "alt": "Service Image",
    "modifier": "img-hover img-fix-height"
  } %}
  <div class="service-card__content">
    {% include "@atoms/text/heading/heading.twig" with {
      "tag": "h3",
      "title": title
    } %}
    <p> {{ cardDecription }} </p>
    {% include "@atoms/links/links.twig" with {
      "link": path,
      "label": "Read More",
      "modifier": "link-gold"
    } %}
  </div>
</div>
{# 
{{ attach_library('pattrenlab.card') }}
<div {{ attributes.addClass("service-card") }}>
  {% include "@atoms/image/image.twig" with {
    "source": content.field_image.0['#markup'],
    "alt": "Service Image",
    "modifier": "img-hover"
  } %}
  <div class="service-card__content">
    {% include "@atoms/text/heading/heading.twig" with {
      "heading": "h3",
      "title": label
    } %}
    <p> {{ content.body }} </p>
    {% include "@atoms/links/links.twig" with {
      "link": "https:/fb.com/",
      "label": "Read More",
      "modifier": "link-gold"
    } %}
  </div>
</div> #}
